
<h1>Contact</h1>
<p>
  You can contact me at goarchib83@gmail.com, and follow the link below
  for the tutorials contact info:
  </br>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
